<div class="footer-module footer-text-box">
  {% if settings.footer-titles %}
    <h4>{{ settings.footer-text-box-title }}</h4>
  {% endif %}

  <div class="rte">
    {{ settings.footer-text-box }}
  </div>
</div>