<div class="footer-module">
  
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  
  <h4>Facebook</h4>
  <div class="rte" style="text-align: center;">
	<div class="fb-page wow fadeIn" data-href="https://www.facebook.com/Yourpbfriend" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="true" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Yourpbfriend"><a href="https://www.facebook.com/Yourpbfriend">Yourpbfriend  - Paintball Equipment Retailer -New and Used</a></blockquote></div></div>
  </div>
</div>
