{% if settings.home-video-embed != blank %}
  <div class="home-module home-video {% unless settings.enable-sidebar %}{{ settings.home-video-width }}{% endunless %} text-color-{{ settings.home-video-text-color }}" style="background-color: #151515; padding: 10px 0px 10px 0px;">
    <div class="home-module-content">
      <div id="latestVidsContainer">
        <div id="latestUploadsContainer">
          <a href="https://www.youtube.com/user/YourPBfriend/videos" target="_blank" title="To YouTube!"><h4 class="section-title" style="margin: 0px; padding: 0px; color: white;">Latest Uploads</h4></a>
          <iframe id="latestUploadsVideo" class="wow fadeIn" data-wow-duration="3s" src="https://www.youtube.com/embed/videoseries?list=PL2YJBHemhpl7UdfAog_P0BXCBHhY-mC2c&amp;showinfo=0&amp;modestbranding=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="weeklyGunShowContainer">
          <a href="https://www.youtube.com/playlist?list=PL2YJBHemhpl5pV3mjregwpQv1IHzyg1RI" target="_blank" title="To YouTube!"><h4 class="section-title" style="margin: 0px; padding: 0px; color: white;">Weekly Gun Show</h4></a>
          <iframe id="weeklyGunShowVideo" class="wow fadeIn" data-wow-duration="3s" src="https://www.youtube.com/embed/videoseries?list=PL2YJBHemhpl5pV3mjregwpQv1IHzyg1RI&amp;showinfo=0&amp;modestbranding=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div id="toYouTube" class="wow fadeIn" data-wow-delay="0.125s" data-wow-duration="1.3s">
      <span style="font-size: large;">Find <strong>more great videos</strong> on our YouTube channel!</span>
        <a href="https://www.youtube.com/user/YourPBfriend" target="_blank" title="To YouTube!"><input type="button" class="wow pulse" data-wow-delay="0.5s" data-wow-iteration="4" data-wow-duration="2s" value="More Videos"/></a>
    </div>
  </div>
{% endif %}