<div class="fb-like" style="margin: 5px; height: 29px; top: 3px;" data-href="{{shop.url}}{{product.url}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>