{% if product.description != blank %}
  <div class="product-description rte" itemprop="description">
    <div class="product-sku">
      <span style="font-weight: 600;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;" unselectable="on">
        SKU:
      </span>
      <span class="variant-sku">
        {{ variant.sku }}
      </span>
    </div>
    {{ product.description }}
  </div>
{% endif %}