
{% assign attribute = 'Sales Representative Code' %}

<p>
  <label for="{{ attribute }}">Representative Code?</label>
</p>
<input type="text" id="{{ attribute }}" name="attributes[{{ attribute }}]"  required="required"/>
