<select id="uncomplicated-category-select" class="category-select show-styled">
    <option value="" selected="selected" disabled="disabled">&lt;Jump to a category&gt;</option>
        <option value="/collections/paintball-and-airsoft-guns">Guns</option>
    <option value="/collections/new-paintball-guns">--- New Paintball Guns</option>
    <option value="/collections/alien-paintball-guns">--- --- Alien</option>
    <option value="/collections/alien-deception-paintball-gun">--- --- --- Deception</option>

    <option value="/collections/azodin-paintball-guns">--- --- Azodin</option>
    <option value="/collections/azodin-blitz-3-paintball-guns">--- --- --- Blitz 3</option>
    <option value="/collections/azodin-evoii-paintball-guns">--- --- --- EVOII</option>
    <option value="/collections/azodin-kaos2-paintball-guns">--- --- --- Kaos2</option>
    <option value="/collections/azodin-kp3-kaos-paintball-guns">--- --- --- KP3 Kaos</option>
    <option value="/collections/azodin-kpc-paintball-guns">--- --- --- KPC</option>

    <option value="/collections/bob-long-paintball-guns">--- --- Bob Long</option>
    <option value="http://host.izacktheyak.com/ypbf/galleries/bl_anno_gal.php">--- --- --- Ano Gallery</option>
    <option value="/collections/bob-long-g6r-paintball-guns-markers">--- --- --- G6R</option>
    <option value="/collections/bob-long-phase-paintball-guns">--- --- --- Phase</option>
    <option value="/collections/bob-long-reptile-vis-paintball-guns">--- --- --- Reptile VIS</option>
    <option value="/collections/bob-long-onslaught-paintball-guns">--- --- --- Onslaught</option>

    <option value="/collections/d3fy-paintball-guns">--- --- D3FY</option>
    <option value="/collections/d3fy-conquest-paintball-guns">--- --- --- Conqu3st</option>
    <option value="/collections/vertex">--- --- --- Vert3x</option>

    <option value="/collections/dlx-paintball-guns">--- --- DLX</option>
    <option value="/collections/dlx-luxe-ice-paintball-guns">--- --- --- Luxe ICE</option>
    <option value="/collections/dlx-luxe-oled-paintball-guns">--- --- --- Luxe OLED</option>

    <option value="/collections/dye-paintball-guns">--- --- Dye</option>
    <option value="/collections/dye-cqb-dam-paintball-guns">--- --- --- CQB DAM</option>
    <option value="/collections/dye-dam-paintball-guns">--- --- --- DAM</option>
    <option value="/collections/dye-dm15-paintball-guns">--- --- --- DM15</option>
    <option value="/collections/dye-m2-paintball-guns">--- --- --- M2</option>

    <option value="/collections/empire-paintball-guns">--- --- Empire</option>
    <option value="/collections/expire-axe-pro-2015-paintball-guns">--- --- --- Axe Pro 2015</option>
    <option value="/collections/empire-axe-paintball-guns">--- --- --- Axe</option>
    <option value="/collections/battle-tested-paintball-guns">--- --- --- Battle Tested</option>
    <option value="/collections/empire-mini-paintball-guns">--- --- --- Mini</option>
    <option value="/collections/empire-mini-gs-paintball-guns">--- --- --- Mini GS</option>
    <option value="/collections/empire-resurrection-autococker-paintball-guns">--- --- --- Resurrection Autococker</option>
    <option value="/collections/empire-sniper-pump-paintball-guns">--- --- --- Sniper Pump</option>
    <option value="/collections/empire-vanquish-2-paintball-guns">--- --- --- Vanquish 2.0</option>

    <option value="/collections/gog-paintball-guns">--- --- GOG</option>
    <option value="/collections/gog-enmey-paintball-guns">--- --- --- eNMEy</option>

    <option value="/collections/hk-army-paintball-guns">--- --- HK Army</option>
    <option value="/collections/hk-army-shocker-rsx-paintball-guns">--- --- --- Shocker RSX</option>

    <option value="/collections/jt-splatmaster-paintball-guns">--- --- JT Splatmaster</option>
    <option value="/collections/macdev-paintball-guns">--- --- MacDev</option>
    <option value="/collections/macdev-clone-5-paintball-guns">--- --- --- Clone 5</option>
    <option value="/collections/macdev-cyborg-6-paintball-guns">--- --- --- Cyborg 6</option>
    <option value="/collections/macdev-drone-2-paintball-guns">--- --- --- Drone 2</option>

    <option value="/collections/planet-eclipse-paintball-guns">--- --- Planet Eclipse</option>
    <option value="/collections/planet-eclipse-lv1-1-pro-paintball-guns">--- --- --- EGO LV1.1</option>
    <option value="/collections/planet-eclipse-etek-5-paintball-guns">--- --- --- Etek 5</option>
    <option value="/collections/planet-eclipse-etha-paintball-guns">--- --- --- Etha</option>
    <option value="/collections/planet-eclipse-geo-3-5-paintball-guns">--- --- --- GEO 3.5</option>
    <option value="/collections/planet-eclipse-geo-cs1-paintball-guns">--- --- --- GEO CS1</option>
    <option value="/collections/planet-eclipse-geo-cs1-limited-edition-paintball-guns">--- --- --- GEO CS1 Private Label</option>
    <option value="/collections/planet-eclipse-gtek-paintball-guns">--- --- --- Gtek</option>

    <option value="/collections/proto-paintball-guns">--- --- Proto</option>
    <option value="/collections/proto-rail-paintball-guns">--- --- --- Rail</option>
    <option value="/collections/proto-reflex-rail-paintball-guns">--- --- --- Reflex Rail</option>
    <option value="/collections/proto-rize-paintball-guns">--- --- --- Rize</option>
    <option value="/collections/proto-rize-maxxed-paintball-guns">--- --- --- Rize Maxxed</option>

    <option value="/collections/tiberius-arms-paintball-guns">--- --- Tiberius Arms</option>
    <option value="/collections/tiberius-arms-t15-paintball-guns">--- --- --- T15</option>
    <option value="/collections/tiberius-arms-t9-1-paintball-guns">--- --- --- T9.1</option>
    <option value="/collections/tiberius-arms-t8-1-paintball-guns">--- --- --- T8.1</option>

    <option value="/collections/tippmann-paintball-guns">--- --- Tippmann</option>
    <option value="/collections/tippmann-98-custom-paintball-guns">--- --- --- 98 Custom</option>
    <option value="/collections/tippmann-cronus-paintball-guns">--- --- --- Cronus</option>
    <option value="/collections/tippmann-crossover-paintball-guns">--- --- --- Crossover</option>
    <option value="/collections/tippmann-tcr-mag-fed-paintball-guns">--- --- --- TCR Mag Fed</option>
    <option value="/collections/tippmann-tpx-paintball-guns">--- --- --- TPX</option>

    <option value="/collections/shocker-paintball-guns">--- --- Shocker Paintball</option>
    <option value="/collections/sp-shocker-rsx-paintball-guns">--- --- --- Shocker RSX</option>

    <option value="/collections/spyder-paintball-guns">--- --- Spyder</option>
    <option value="/collections/spyder-fenix-paintball-guns">--- --- --- Fenix</option>
    <option value="/collections/spyder-hammer-7-paintball-guns">--- --- --- Hammer 7</option>
    <option value="/collections/spyder-mr5-paintball-guns">--- --- --- MR5</option>
    <option value="/collections/spyder-victor-paintball-guns">--- --- --- Victor</option>
    <option value="/collections/spyder-xtra-paintball-guns">--- --- --- Xtra</option>


    <option value="/collections/used-paintball-guns">--- Used Paintball Guns</option>
    <option value="/collections/best-entry-level-paintball-guns">--- Entry Level Paintball Guns</option>
    <option value="/collections/paintball-gun-marker-packages">--- Paintball Gun Packages</option>
    <option value="/collections/new-airsoft-guns">--- New Airsoft Guns</option>
    <option value="/collections/electric-airsoft-guns-rifles-aeg">--- --- Electric Rifles</option>
    <option value="/collections/hpa-airsoft-guns-rifles">--- --- HPA Rifles</option>
    <option value="/collections/gas-airsoft-guns-rifles">--- --- Gas Rifles</option>
    <option value="/collections/airsoft-pistols">--- --- Pistols</option>


    <option value="/collections/used-paintball-and-airsoft-gear">Used</option>
    <option value="/collections/used-paintball-apparel">--- Used Apparel</option>
    <option value="/collections/used-paintball-barrels">--- Used Barrels</option>
    <option value="/collections/used-full-paintball-barrels">--- --- Full</option>
    <option value="/collections/used-paintball-barrel-backs">--- --- Backs</option>
    <option value="/collections/used-paintball-barrel-tips">--- --- Tips</option>
    <option value="/collections/used-paintball-inserts">--- --- Inserts</option>
    <option value="/collections/used-paintball-barrel-kits">--- --- Kits</option>
    <option value="/collections/used-paintball-barrel-cases-wraps">--- --- Cases &amp; Wraps</option>
    <option value="/collections/used-paintball-barrel-socks">--- --- Socks</option>

    <option value="/collections/used-paintball-guns">--- Used Paintball Guns</option>
    <option value="/collections/used-paintball-hoppers-loaders">--- Used Hoppers &amp; Loaders</option>
    <option value="/collections/used-paintball-masks">--- Used Masks</option>
    <option value="/collections/used-paintball-packs-bags-cases">--- Used Packs, Bags, &amp; Cases</option>
    <option value="/collections/used-paintball-gun-parts">--- Used Parts</option>
    <option value="/collections/used-paintball-gun-asas">--- --- Used ASAs</option>
    <option value="/collections/used-paintball-gun-stands">--- --- Used Guns Stands</option>
    <option value="/collections/used-paintball-conversion-kits">--- --- Used Conversion Kits</option>
    <option value="/collections/used-paintball-boards">--- --- Used Boards</option>
    <option value="/collections/used-paintball-gun-bolts-engines">--- --- Used Bolts &amp; Engines</option>
    <option value="/collections/used-paintball-gun-eyes">--- --- Used Eyes</option>
    <option value="/collections/used-paintball-feed-necks">--- --- Used Feed Necks</option>
    <option value="/collections/used-paintball-frames">--- --- Used Frames</option>
    <option value="/collections/used-paintball-gun-grips">--- --- Used Grips</option>
    <option value="/collections/used-paintball-gun-macroline-air-fittings">--- --- Used Macroline &amp; Air Fittings</option>
    <option value="/collections/used-paintball-misc-parts">--- --- Used Misc Parts</option>
    <option value="/collections/used-paintball-pressure-testers">--- --- Used Pressure Testers</option>
    <option value="/collections/used-paintball-rails-drop-forwards">--- --- Used Rails &amp; Drop Forwards</option>
    <option value="/collections/used-paintball-regulators">--- --- Used Regs</option>
    <option value="/collections/used-paintball-gun-regulator-grips">--- --- Used Reg Grips</option>
    <option value="/collections/used-paintball-remote-lines">--- --- Used Remote Lines</option>
    <option value="/collections/used-paintball-tank-regulators-accessories">--- --- Used Tank Regs &amp; Accessories</option>
    <option value="/collections/used-paintball-triggers">--- --- Used Triggers</option>

    <option value="/collections/used-paintball-tanks">--- Used Tanks</option>

    <option value="/collections/paintball-air-systems">Air</option>
    <option value="/collections/paintball-air-tanks">--- Air Tanks</option>
    <option value="/collections/dye-paintball-tanks">--- --- Dye Tanks</option>
    <option value="/collections/empire-paintball-tanks">--- --- Empire Tanks</option>
    <option value="/collections/ninja-paintball-tanks">--- --- Ninja Tanks</option>
    <option value="/collections/standard-ninja-paintball-tanks">--- --- --- Standard</option>
    <option value="/collections/ninja-super-light-sl-50-s-paintball-tanks">--- --- --- Super Light 50&#039;s</option>
    <option value="/collections/ninja-super-light-sl-68-s-paintball-tanks">--- --- --- Super Light 68&#039;s</option>
    <option value="/collections/ninja-super-light-sl-77-s-paintball-tanks">--- --- --- Super Light 77&#039;s</option>
    <option value="/collections/ninja-super-light-sl-90-s-paintball-tanks">--- --- --- Super Light 90&#039;s</option>


    <option value="/collections/paintball-tank-burst-discs">--- Burst Discs</option>
    <option value="/collections/paintball-fill-stations">--- Fill Stations</option>
    <option value="/collections/paintball-gauges">--- Gauges</option>
    <option value="/collections/paintball-pressure-testers">--- Pressure Testers</option>
    <option value="/collections/paintball-remote-lines">--- Remote Lines</option>
    <option value="/collections/paintball-tank-covers">--- Tank Covers</option>
    <option value="/collections/45-50ci-paintball-tank-covers">--- --- 45 - 50ci</option>
    <option value="/collections/68-77ci-paintball-tank-covers">--- --- 68 - 77ci</option>
    <option value="/collections/paintball-tank-grips">--- --- Tank Grips</option>

    <option value="/collections/paintball-tank-regulators-accessories">--- Tank Regs &amp; Accessories</option>

    <option value="/collections/paintball-apparel">Apparel</option>
    <option value="/collections/paintball-accessories-stickers">--- Accessories &amp; Stickers</option>
    <option value="/collections/paintball-belts">--- Belts</option>
    <option value="/collections/paintball-cleats">--- Cleats</option>
    <option value="/collections/paintball-gloves">--- Gloves</option>
    <option value="/collections/bnkr-kings-paintball-gloves">--- --- BNKR Kings Gloves</option>
    <option value="/collections/empire-paintball-gloves">--- --- Empire Gloves</option>
    <option value="/collections/hk-army-paintball-gloves">--- --- HK Army Gloves</option>
    <option value="/collections/planet-eclipse-paintball-gloves">--- --- Planet Eclipse Gloves</option>
    <option value="/collections/valken-paintball-gloves">--- --- Valken Gloves</option>

    <option value="/collections/paintball-headwear">--- Headwear</option>
    <option value="/collections/paintball-beanies">--- --- Beanies</option>
    <option value="/collections/hk-army-paintball-beanies">--- --- --- HK Army Beanies</option>
    <option value="/collections/planet-eclipse-paintball-beanies">--- --- --- Planet Eclipse Beanies</option>
    <option value="/collections/valken-paintball-beanies">--- --- --- Valken Beanies</option>

    <option value="/collections/paintball-hats">--- --- Hats</option>
    <option value="/collections/dye-paintball-hats">--- --- --- Dye Hats</option>
    <option value="/collections/planet-eclipse-paintball-hats">--- --- --- Planet Eclipse Hats</option>
    <option value="/collections/valken-paintball-hats">--- --- --- Valken Hats</option>

    <option value="/collections/paintball-headbands-wraps">--- --- Headbands &amp; Wraps</option>
    <option value="/collections/bnkr-kings-paintball-headbands-wraps">--- --- --- BNKR Kings Headbands &amp; Wraps</option>
    <option value="/collections/contract-killer-paintball-headbands-wraps">--- --- --- Contract Killer Headbands &amp; Wraps</option>
    <option value="/collections/devils-details-paintball-headbands-wraps">--- --- --- Devil&#039;s Details Headbands &amp; Wraps</option>
    <option value="/collections/exalt-paintball-headbands-wraps">--- --- --- Exalt Headbands &amp; Wraps</option>
    <option value="/collections/dye-paintball-headbands-wraps">--- --- --- Dye Headbands &amp; Wraps</option>
    <option value="/collections/hk-army-paintball-headbands-wraps">--- --- --- HK Army Headbands &amp; Wraps</option>
    <option value="/collections/planet-eclipse-paintball-headbands-wraps">--- --- --- Planet Eclipse Headbands &amp; Wraps</option>
    <option value="/collections/valken-paintball-headbands-wraps">--- --- --- Valken Headbands &amp; Wraps</option>
    <option value="/collections/yourpbfriend-paintball-headbands-wraps">--- --- --- YourPbFriend Headbands &amp; Wraps</option>


    <option value="/collections/paintball-outerwear-hoodies-jackets-sweatshirts">--- Outerwear</option>
    <option value="/collections/paintball-jerseys">--- Jerseys</option>
    <option value="/collections/dye-paintball-jersey">--- --- Dye Jerseys</option>
    <option value="/collections/empire-paintball-jerseys">--- --- Empire Jerseys</option>
    <option value="/collections/hk-army-paintball-jerseys">--- --- HK Army Jerseys</option>
    <option value="/collections/jt-paintball-jerseys">--- --- JT Jerseys</option>
    <option value="/collections/planet-eclipse-paintball-jerseys">--- --- Planet Eclipse Jerseys</option>
    <option value="/collections/valken-paintball-jerseys">--- --- Valken Jerseys</option>

    <option value="/collections/paintball-packs-vests">--- Packs &amp; Vests</option>
    <option value="/collections/bnkr-kings-paintball-packs-vests">--- --- BNKR Kings Packs &amp; Vests</option>
    <option value="/collections/dye-paintball-packs-vests">--- --- Dye Packs &amp; Vests</option>
    <option value="/collections/empire-paintball-packs-vests">--- --- Empire Packs &amp; Vests</option>
    <option value="/collections/gen-x-global-gxg-paintball-packs-vests">--- --- Gen X Global Packs &amp; Vests</option>
    <option value="/collections/g-i-sportz-paintball-packs-vests">--- --- G.I. Sportz Packs &amp; Vests</option>
    <option value="/collections/hk-army-paintball-packs-vests">--- --- HK Army Packs &amp; Vests</option>
    <option value="/collections/jt-paintball-packs-vests">--- --- JT Packs &amp; Vests</option>
    <option value="/collections/nxe-paintball-packs-vests">--- --- NXe Packs &amp; Vests</option>
    <option value="/collections/planet-eclipse-paintball-packs-vests">--- --- Planet Eclipse Packs &amp; Vests</option>
    <option value="/collections/reckless-paintball-packs-vests">--- --- Reckless Packs &amp; Vests</option>
    <option value="/collections/valken-paintball-packs-vests">--- --- Valken Packs &amp; Vests</option>

    <option value="/collections/paintball-pads-protection">--- Pads &amp; Protection</option>
    <option value="/collections/paintball-chest-protectors">--- --- Chest Protectors</option>
    <option value="/collections/paintball-elbow-pads">--- --- Elbow Pads</option>
    <option value="/collections/paintball-knee-pads">--- --- Knee Pads</option>
    <option value="/collections/paintball-neck-protectors">--- --- Neck Protectors</option>
    <option value="/collections/paintball-sliding-shorts-pants">--- --- Sliding Shorts &amp; Pants</option>

    <option value="/collections/paintball-pants">--- Pants</option>
    <option value="/collections/bob-long-paintball-pants">--- --- Bob Long Pants</option>
    <option value="/collections/dye-paintball-pants">--- --- Dye Pants</option>
    <option value="/collections/empire-paintball-pants">--- --- Empire Pants</option>
    <option value="/collections/exalt-paintball-pants">--- --- Exalt Pants</option>
    <option value="/collections/hk-army-paintball-pants">--- --- HK Army Pants</option>
    <option value="/collections/jt-paintball-pants">--- --- JT Pants</option>
    <option value="/collections/planet-eclipse-paintball-pants">--- --- Planet Eclipse Pants</option>
    <option value="/collections/valken-paintball-pants">--- --- Valken Pants</option>

    <option value="/collections/paintball-shirts">--- Shirts</option>
    <option value="/collections/contract-killer-paintball-shirts">--- --- Contract Killer Shirts</option>
    <option value="/collections/hk-army-paintball-shirts">--- --- HK Army Shirts</option>
    <option value="/collections/valken-paintball-shirts">--- --- Valken Shirts</option>
    <option value="/collections/yourpbfriend-paintball-shirts">--- --- YourPbFriend Shirts</option>


    <option value="/collections/paintball-barrels">Barrels</option>
    <option value="/collections/paintball-barrel-accessories">--- Barrel Accessories</option>
    <option value="/collections/paintball-barrel-mufflers">--- --- Mufflers</option>
    <option value="/collections/paintball-barrel-socks">--- --- Socks</option>
    <option value="/collections/paintball-swabs-squeegees">--- --- Swabs &amp; Squeegees</option>

    <option value="/collections/custom-products-paintball-barrels">--- Custom Products Barrels</option>
    <option value="/collections/deadlywind-paintball-barrels">--- Deadlywind Barrels</option>
    <option value="/collections/dye-paintball-barrels">--- Dye Barrels</option>
    <option value="/collections/empire-paintball-barrels">--- Empire Barrels</option>
    <option value="/collections/freak-paintball-barrels">--- Freak Barrels</option>
    <option value="/collections/freak-full-paintball-barrels">--- --- Freak Full Barrels</option>
    <option value="/collections/freak-paintball-inserts">--- --- Freak Inserts</option>
    <option value="/collections/freak-paintball-kits">--- --- Freak Kits</option>
    <option value="/collections/freak-paintball-backs">--- --- Freak Backs</option>
    <option value="/collections/freak-paintball-tips">--- --- Freak Tips</option>

    <option value="/collections/inception-designs-paintball-barrels">--- Inception Designs Barrels</option>
    <option value="/collections/macdev-paintball-barrels">--- MacDev Barrels</option>
    <option value="/collections/planet-eclipse-paintball-barrels">--- Planet Eclipse Barrels</option>

    <option value="/collections/paintball-hoppers-loaders">Hoppers</option>
    <option value="/collections/paintball-hopper-loader-accessories">--- Hopper Accessories</option>
    <option value="/collections/halo-paintball-hopper-accessories">--- --- Halo Accessories</option>
    <option value="/collections/prophecy-z2-paintball-hopper-accessories">--- --- Prophecy Z2 Accessories</option>
    <option value="/collections/rotor-paintball-hopper-accessories">--- --- Rotor Accessories</option>
    <option value="/collections/rotor-r2-paintball-hopper-accessories">--- --- Rotor R2 Accessories</option>
    <option value="/collections/virtue-spire-paintball-hopper-loader-accessories">--- --- Spire Accessories</option>
    <option value="/collections/virtue-spire-200-paintball-hopper-loader-shells">--- --- --- 200 Shells</option>
    <option value="/collections/virtue-spire-260-paintball-hopper-loader-shells">--- --- --- 260 Shells</option>
    <option value="/collections/virtue-spire-paintball-hopper-speed-feeds">--- --- --- Speed Feeds</option>

    <option value="/collections/hk-army-tfx-paintball-hopper-accessories">--- --- TFX Accessories</option>
    <option value="/collections/universal-paintball-hopper-accessories">--- --- Universal Accessories</option>

    <option value="/collections/dye-paintball-hoppers-loaders">--- Dye Hoppers</option>
    <option value="/collections/dye-box-rotor-paintball-hoppers">--- --- Box Rotor</option>
    <option value="/collections/dye-rotor-paintball-hoppers">--- --- Rotor</option>
    <option value="/collections/dye-rotor-r2-paintball-hoppers">--- --- Rotor R2</option>

    <option value="/collections/empire-paintball-hoppers-loaders">--- Empire Hoppers</option>
    <option value="/collections/gen-x-global-gxg-paintball-hoppers-loaders">--- Gen X Global Hoppers</option>
    <option value="/collections/hk-army-paintball-hoppers-loaders">--- HK Army Hoppers</option>
    <option value="/collections/jt-paintball-hoppers-loaders">--- JT Hoppers</option>
    <option value="/collections/proto-paintball-hoppers-loaders">--- Proto Hoppers</option>
    <option value="/collections/valken-paintball-hoppers-loaders">--- Valken Hoppers</option>
    <option value="/collections/virtue-paintball-hoppers-loaders">--- Virtue Hoppers</option>
    <option value="/collections/virtue-spire-200-paintball-hoppers">--- --- Spire 200</option>
    <option value="/collections/virtue-spire-260-paintball-hoppers">--- --- Spire 260</option>


    <option value="/collections/paintball-masks">Masks</option>
    <option value="/collections/paintball-lenses-accessories">--- Lenses &amp; Accessories</option>
    <option value="/collections/paintball-lens-cleaner-anti-fog">--- --- Cleaner &amp; Anti-Fog</option>
    <option value="/collections/paintball-mask-straps">--- --- Mask Straps</option>
    <option value="/collections/paintball-microfiber-cloths">--- --- Microfiber Cloths </option>
    <option value="/collections/dye-paintball-lenses-accessories">--- --- Dye Lenses &amp; Accessories</option>
    <option value="/collections/empire-paintball-lenses-accessories">--- --- Empire Lenses &amp; Accessories</option>
    <option value="/collections/hk-army-paintball-lenses-accessories">--- --- HK Army Lenses &amp; Accessories</option>
    <option value="/collections/jt-paintball-lenses-accessories">--- --- JT Lenses &amp; Accessories</option>
    <option value="/collections/valken-paintball-lenses-accessories">--- --- Valken Lenses &amp; Accessories</option>
    <option value="/collections/vforce-paintball-lenses-accessories">--- --- VForce Lenses &amp; Accessories</option>
    <option value="/collections/virtue-paintball-lenses-accessories">--- --- Virtue Lenses &amp; Accessories</option>

    <option value="/collections/paintball-mask-lens-cases">--- Mask/Lens Cases</option>
    <option value="/collections/dye-paintball-masks">--- Dye Masks</option>
    <option value="/collections/dye-i4-paintball-masks">--- --- i4</option>

    <option value="/collections/empire-paintball-masks">--- Empire Masks</option>
    <option value="/collections/empire-e-flex-paintball-masks">--- --- E-Flex</option>
    <option value="/collections/empire-e-vent-paintball-masks">--- --- E-Vent</option>
    <option value="/collections/empire-evs-hud-paintball-masks">--- --- EVS</option>
    <option value="/collections/empire-helix-paintball-masks">--- --- Helix</option>
    <option value="/collections/empire-vidar-paintball-masks">--- --- Vidar</option>

    <option value="/collections/hk-army-paintball-masks">--- HK Army Masks</option>
    <option value="/collections/jt-paintball-masks">--- JT Masks</option>
    <option value="/collections/proto-paintball-masks">--- Proto Masks</option>
    <option value="/collections/sly-paintball-masks">--- Sly Masks</option>
    <option value="/collections/valken-paintball-masks">--- Valken Masks</option>
    <option value="/collections/vforce-paintball-masks">--- VForce Masks</option>
    <option value="/collections/vforce-armor-paintball-masks">--- --- Armor</option>
    <option value="/collections/vforce-grill-paintball-masks">--- --- Grill</option>
    <option value="/collections/vforce-profiler-paintball-masks">--- --- Profiler</option>

    <option value="/collections/virtue-paintball-masks">--- Virtue Masks</option>
    <option value="/collections/virtue-contour-paintball-masks">--- --- Contour</option>
    <option value="/collections/virtue-extend-paintball-masks">--- --- Extend</option>
    <option value="/collections/virtue-vio-paintball-facemasks">--- --- Facemasks</option>


    <option value="/collections/misc-gear-paintball-airsoft">Misc Gear</option>
    <option value="/collections/batteries">--- Batteries</option>
    <option value="/collections/paintball-batteries">--- --- Paintball Batteries</option>
    <option value="/collections/airsoft-batteries">--- --- Airsoft Batteries</option>

    <option value="/collections/paintball-caddies">--- Caddies</option>
    <option value="/collections/paintball-gift-cards">--- Gift Cards</option>
    <option value="/collections/airsoft-green-gas">--- Green Gas</option>
    <option value="/collections/paintball-luggage">--- Luggage</option>
    <option value="/collections/paintball-backpacks">--- --- Backpacks</option>
    <option value="/collections/empire-paintball-backpacks">--- --- --- Empire Backpacks</option>
    <option value="/collections/hk-army-paintball-backpacks">--- --- --- HK Army Backpacks</option>
    <option value="/collections/planet-eclipse-paintball-backpacks">--- --- --- Planet Eclipse Backpacks</option>
    <option value="/collections/virtue-paintball-backpacks">--- --- --- Virtue Backpacks</option>

    <option value="/collections/paintball-barrel-cases">--- --- Barrel Cases</option>
    <option value="/collections/paintball-gear-bags">--- --- Gear Bags</option>
    <option value="/collections/exalt-paintball-gear-bags">--- --- --- Exalt Gear Bags</option>
    <option value="/collections/hk-army-paintball-gear-bags">--- --- --- HK Army Gear Bags</option>
    <option value="/collections/planet-eclipse-paintball-gear-bags">--- --- --- Planet Eclipse Gear Bags</option>
    <option value="/collections/virtue-paintball-gear-bags">--- --- --- Virtue Gear Bags</option>

    <option value="/collections/paintball-gun-bags-cases">--- --- Gun Bags &amp; Cases</option>
    <option value="/collections/bob-long-paintball-gun-bags">--- --- --- Bob Long Gun Bags</option>
    <option value="/collections/dlx-paintball-gun-cases">--- --- --- DLX Gun Cases</option>
    <option value="/collections/planet-eclipse-paintball-gun-bags">--- --- --- Planet Eclipse Gun Bags</option>

    <option value="/collections/paintball-mask-lens-cases">--- --- Mask/Lens Cases</option>
    <option value="/collections/paintball-tank-cases">--- --- Tank Cases</option>
    <option value="/collections/sunglass-cases-paintball">--- --- Sunglass Cases</option>
    <option value="/collections/paintball-pod-bags">--- --- Pod Bags</option>

    <option value="/collections/paintballs">--- Paintballs</option>
    <option value="/collections/airsoft-pellets-and-bbs">--- Pellets &amp; BBs</option>
    <option value="/collections/paintball-pods">--- Pods</option>
    <option value="/collections/10-round-paintball-tubes">--- --- 10 Round Paintball Tubes</option>
    <option value="/collections/140-round-paintball-pods">--- --- 140 Round Paintball Pods</option>
    <option value="/collections/paintball-pod-accessories">--- --- Paintball Pod Accessories</option>

    <option value="/collections/paintball-airsoft-signs-banners">--- Signs &amp; Banners</option>
    <option value="/collections/tents-canopies">--- Tents &amp; Canopies</option>
    <option value="/collections/tools-grease-lube">--- Tools, Grease, &amp; Lube</option>
    <option value="/collections/paintball-allen-keys-pick-sets">--- --- Allen Keys &amp; Pick Sets</option>
    <option value="/collections/battery-tester">--- --- Battery Testers</option>
    <option value="/collections/paintball-airsoft-chronographs">--- --- Chronographs</option>
    <option value="/collections/paintball-oil-grease">--- --- Oil &amp; Grease</option>
    <option value="/collections/paintball-tech-mats">--- --- Tech Mats</option>


    <option value="/collections/paintball-parts">Parts</option>
    <option value="#">--- By Gun Brand</option>
    <option value="/collections/bob-long-paintball-parts">--- --- Bob Long Parts</option>
    <option value="/collections/ccm-paintball-parts">--- --- CCM Parts</option>
    <option value="/collections/dlx-paintball-parts">--- --- DLX Parts</option>
    <option value="/collections/dye-paintball-parts">--- --- Dye Parts</option>
    <option value="/collections/empire-paintball-parts">--- --- Empire Parts</option>
    <option value="/collections/macdev-paintball-parts">--- --- MacDev Parts</option>
    <option value="/collections/planet-eclipse-paintball-parts">--- --- Planet Eclipse Parts</option>
    <option value="/collections/valken-paintball-parts">--- --- Valken Parts</option>

    <option value="/collections/paintball-asas">--- ASAs</option>
    <option value="/collections/bob-long-paintball-asas">--- --- Bob Long ASAs</option>
    <option value="/collections/custom-products-paintball-asas">--- --- Custom Products ASAs</option>
    <option value="/collections/dlx-paintball-asas">--- --- DLX ASAs</option>
    <option value="/collections/empire-paintball-asas">--- --- Empire ASAs</option>
    <option value="/collections/planet-eclipse-paintball-asas">--- --- Planet Eclipse ASAs</option>

    <option value="/collections/paintball-gun-boards-chargers">--- Boards</option>
    <option value="/collections/bob-long-paintball-boards">--- --- Bob Long Boards</option>
    <option value="/collections/dlx-paintball-boards">--- --- DLX Boards</option>
    <option value="/collections/empire-paintball-boards">--- --- Empire Boards</option>
    <option value="/collections/planet-eclipse-paintball-boards">--- --- Planet Eclipse Boards</option>
    <option value="/collections/virtue-paintball-boards">--- --- Virtue Boards</option>

    <option value="/collections/paintball-gun-body-accent-kits">--- Body &amp; Accent Kits</option>
    <option value="/collections/dlx-paintball-gun-body-accent-kits">--- --- DLX Body &amp; Accent Kits</option>
    <option value="/collections/gog-paintball-gun-body-accent-kits">--- --- GOG Body &amp; Accent Kits</option>
    <option value="/collections/inception-designs-paintball-gun-body-accent-kits">--- --- Inception Designs Body &amp; Accent Kits</option>
    <option value="/collections/planet-eclipse-paintball-gun-body-accent-kits">--- --- Planet Eclipse Body &amp; Accent Kits</option>
    <option value="/collections/shocker-paintball-gun-body-accent-kits">--- --- Shocker Body &amp; Accent Kits</option>

    <option value="/collections/paintball-gun-bolts">--- Bolts</option>
    <option value="/collections/bob-long-paintball-gun-bolts">--- --- Bob Long Bolts</option>
    <option value="/collections/dlx-paintball-gun-bolts">--- --- DLX Bolts</option>
    <option value="/collections/dye-paintball-gun-bolts">--- --- Dye Bolts</option>
    <option value="/collections/empire-paintball-gun-bolts">--- --- Empire Bolts</option>
    <option value="/collections/planet-eclipse-paintball-bolts">--- --- Planet Eclipse Bolts</option>
    <option value="/collections/techt-paintball-gun-bolts">--- --- TechT Bolts</option>

    <option value="/collections/paintball-conversion-kits">--- Conversion Kits</option>
    <option value="/collections/paintball-gun-detents">--- Detents</option>
    <option value="/collections/paintball-gun-eyes">--- Eyes</option>
    <option value="/collections/bob-long-paintball-gun-eyes">--- --- Bob Long Eyes</option>
    <option value="/collections/dlx-paintball-gun-eyes">--- --- DLX Eyes</option>
    <option value="/collections/dye-paintball-gun-eyes">--- --- Dye Eyes</option>
    <option value="/collections/macdev-paintball-gun-eyes">--- --- MacDev Eyes</option>
    <option value="/collections/planet-eclipse-paintball-gun-eyes">--- --- Planet Eclipse Eyes</option>
    <option value="/collections/proto-paintball-gun-eyes">--- --- Proto Eyes</option>
    <option value="/collections/smart-parts-paintball-gun-eyes">--- --- Smart Parts Eyes</option>

    <option value="/collections/paintball-feed-necks">--- Feed Necks</option>
    <option value="/collections/bob-long-paintball-feed-neck">--- --- Bob Long Feed Necks</option>
    <option value="/collections/custom-products-paintball-feed-necks">--- --- Custom Products Feed Necks</option>
    <option value="/collections/empire-paintball-feed-necks">--- --- Empire Feed Necks</option>
    <option value="/collections/planet-eclipse-paintball-feed-necks">--- --- Planet Eclipse Feed Necks</option>
    <option value="/collections/spyder-paintball-feed-necks">--- --- Spyder Feed Necks</option>
    <option value="/collections/violent-series-paintball-feed-necks">--- --- Violent Series Feed Necks</option>

    <option value="/collections/paintball-gun-grips">--- Grips</option>
    <option value="/collections/bob-long-paintball-gun-grips">--- --- Bob Long Grips</option>
    <option value="/collections/dlx-paintball-gun-grips">--- --- DLX Grips</option>
    <option value="/collections/dye-paintball-gun-grips">--- --- Dye Grips</option>
    <option value="/collections/macdev-paintball-gun-grips">--- --- MacDev Grips</option>
    <option value="/collections/planet-eclipse-paintball-gun-grips">--- --- Planet Eclipse Grips</option>

    <option value="/collections/paintball-gun-macroline-air-fittings">--- Macrolines &amp; Air Fittings</option>
    <option value="/collections/misc-paintball-parts">--- Misc Parts</option>
    <option value="/collections/paintball-o-rings">--- O-Rings</option>
    <option value="/collections/paintball-gun-parts-kits">--- Parts Kits</option>
    <option value="/collections/paintball-pressure-testers">--- Pressure Testers</option>
    <option value="/collections/paintball-rails-drop-forwards">--- Rails &amp; Drop Forwards</option>
    <option value="/collections/paintball-regulators-accessories">--- Regs &amp; Accessories</option>
    <option value="/collections/paintball-gun-regulator-grips">--- Reg Grips</option>
    <option value="/collections/hk-army-paintball-gun-regulator-grips">--- --- HK Army Reg Grips</option>
    <option value="/collections/exalt-paintball-gun-regulator-grips">--- --- Exalt Reg Grips</option>

    <option value="/collections/paintball-solenoids">--- Solenoids</option>
    <option value="/collections/paintball-springs">--- Springs</option>
    <option value="/collections/paintball-triggers">--- Triggers</option>
    <option value="/collections/bob-long-paintball-triggers">--- --- Bob Long Triggers</option>
    <option value="/collections/custom-products-paintball-triggers">--- --- Custom Products Triggers</option>
    <option value="/collections/violent-series-paintball-triggers">--- --- Violent Series Triggers</option>
    <option value="/collections/shocker-paintball-triggers">--- --- Shocker Paintball Triggers</option>


    <option value="#">Services</option>
    <option value="/pages/trade-in">--- Trade</option>
    <option value="/apps/tracktor/track">--- Track Your Order</option>
    <option value="/pages/paintball-repairs">--- Repairs</option>
    <option value="/pages/layaway">--- Layaway</option>
    <option value="/pages/financing">--- Financing</option>
    <option value="#">--- Ano Galleries</option>
    <option value="http://host.izacktheyak.com/ypbf/galleries/bl_anno_gal.php">--- --- Bob Long Ano Gallery</option>

    <option value="http://visitor.r20.constantcontact.com/d.jsp?llr=p8roolsab&amp;p=oi&amp;m=1119223236463&amp;sit=egr6vmhjb&amp;f=2c41ad54-b465-4aea-934b-0627e5b639fd">--- Newsletter</option>

    <option value="/collections/paintball-airsoft-sales">Sales</option>


</select>
{{ 'uncomplicated.categories.catlist.min.js' | asset_url | script_tag }}
{{ 'uncomplicated.categories.catlist.css' | asset_url | stylesheet_tag }}
