<div class="rte">
  {% capture searchLink %}<a href="/search">{{ 'general.404.search_link_text' | t }}</a>{% endcapture %}
  {% capture productsLink %}<a href="/collections/all">{{ 'general.404.products_link_text' | t }}</a>{% endcapture %}
  <p>{{ 'general.404.message_html' | t: search_link_text: searchLink, products_link_text: productsLink }}</p>
</div>
<!-- Begin Transportr -->
{% include 'transportr' %}
<!-- End Transportr -->